@import "tailwindcss";

/* Variables CSS pour dark mode */
:root {
  --bg-primary: rgb(243, 244, 246);
  --bg-secondary: rgb(255, 255, 255);
  --bg-tertiary: rgba(255, 255, 255, 0.795);
  --bg-card: rgb(255, 255, 255);
  --text-primary: rgb(17, 24, 39);
  --text-secondary: rgb(107, 114, 128);
  --border-color: rgb(229, 231, 235);
}

.dark {
  --bg-primary: rgb(17, 24, 39);
  --bg-secondary: rgb(31, 41, 55);
  --bg-tertiary: rgba(31, 41, 55, 0.795);
  --bg-card: rgb(31, 41, 55);
  --text-primary: rgb(249, 250, 251);
  --text-secondary: rgb(209, 213, 219);
  --border-color: rgb(55, 65, 81);
}


html, body {
  background-color: var(--bg-primary) !important;
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  padding: 0;
}

#root {
  background-color: var(--bg-primary);
  min-height: 100vh;
}